<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" href="/assets/images/logo.png">
    <title>DogInder</title>
</head>
<body>

<nav><!-- accessability ikke alt skal være div (Semantics i html)-->
    <a href="/"><img id="logo" src="/assets/images/logo.png" alt="doginder logo"></a> 
    <!--alt er fordi så billedet har en tekst og hvis logoet ikke duer hviser den, den tekst-->
    <!--Hvis du ville finde billede = advanced image search, brugerrettigheder osv. (.. for os ud af frontend og ind i public)-->
    <a href="/matches">Matches</a>
</nav>

<main>